.about {
  padding: 150px 0 125px;
  &__title {
    margin-bottom: 100px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 30px;
  }
  &__info {
    max-width: 445px;
    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
    }
  }
  &__subtitle {
    font-family: $font-condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  &__stat {
    flex-grow: 1;
    &-item {
      margin-bottom: 20px;
      font-family: $font-condensed;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.05em;
      & span {
        color: $color-gold;
      }
      & svg {
        margin-bottom: 10px;
      }
    }
  }
  &__img {
    width: 350px;
    height: fit-content;
  }
}
 @media (max-width: 1450px) {
   .about__img {
     display: none;
   }
 }

 @media (max-width: 991px) {
   .about {
     padding-top: 90px;
     padding-bottom: 65px;
   }
   .about__title {
     margin-bottom: 60px;
   }
 }

  @media (max-width: 767px) {
    .about {
      padding-top: 30px;
      padding-bottom: 50px;
    }
    .about__container {
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
    }
    .about__info {
      max-width: 100%;
      text-align: center;
    }
    .about__stat {
      text-align: center;
    }
    .about__stat-list {
      display: flex;
      justify-content: center;
      text-align: left;
      gap: 60px;
    }
 }