.contacts {
  &__title {
    margin-bottom: 100px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 125px;
    margin-bottom: 75px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: $font-condensed;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    &-group {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    & a {
      text-decoration: none;
      color: $color-white;
    }
  }
  &__form {
    max-width: 730px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__form-group {
    max-width: 390px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
  }
  &__input {
    width: 180px;
    height: 35px;
    padding: 15px;
    background-color: #444444;
    border: #989898 solid 1px;
    color: #989898;
    font-family: $font-default;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
  }
  &__textarea {
    resize: none;
    max-width: 310px;
    height: 100px;
    padding: 7px 13px;
    background-color: #444444;
    border-color: #989898;
    color: #989898;
    font-family: $font-default;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
  }
  &__descl {
    max-width: 390px;
    font-family: $font-default;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #989898;
  }
  &__btn {
    width: 190px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: $color-gold;
    font-family: $font-condensed;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-white;
  }
}

@media (max-width: 1460px) {
  .contacts__container {
    gap: 75px;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
  }
  .contacts__textarea {
    max-width: 272px;
  }
  .contacts__info {
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
  }
  .contacts__info-group {
    align-items: flex-end;
  }
  .contacts__info > * {
    flex-shrink: 0;
  }
}

@media (max-width: 991px) {
  .contacts__title {
    margin-bottom: 60px;
  }
  .contacts__container {
    gap: 57px;
    margin-bottom: 53px;
  }
}

@media (max-width: 767px) {
  .contacts__container {
    gap: 45px;
  }
  .contacts__form {
    text-align: center;
    justify-content: center;
  }
  .contacts__form-group {
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .contacts__input {
    width: 230px;
  }
  .contacts__textarea {
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
  }
  .contacts__descl {
    order: 3;
    margin-top: 34px;
  }
}

@media (max-width: 575px) {
  .contacts__info {
    flex-wrap: wrap;
  }
  .contacts__form-group {
    height: auto;
  }
  .contacts__input {
    max-width: 100%;
    width: 100%;
  }
}
