.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    width: 100%;
  }
  &__phone {
    white-space: nowrap;
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-family: $font-condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-white;
    border-bottom: $color-gold solid 2px;
    margin-left: 168px;
  }
}

.open-menu {
  display: none;
  width: 40;
  height: 40;
  justify-content: center;
  align-items: center;
  padding: 10px 7px;
  background-color: transparent;
  border: none;
  &__line-container {
    display: block;
    width: 26px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: $color-white;
  }
  &__line:nth-child(2) {
    width: 75%;
  }
  &__line:nth-child(3) {
    width: 50%;
  }
}

.menu {
  min-width: 824px;
  display: flex;
  justify-content: space-between;
  &__link {
    text-decoration: none;
    font-family: $font-condensed;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-white;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $color-gold;
    }
  }
}

.mobile-aside {
  display: none;
  position: absolute;
  z-index: 2;
  margin-left: -300px;
  left: 0;
  top: 0;
  width: 300px;
  height: 800px;
  background-color: #333333;
  transition: all 0.5s ease-in-out;
  &__wripper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 140px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__closer {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 32px;
    height: 32px;
    padding: 8px;
    &-container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    &-line {
      position: absolute;
      background-color: $color-white;
      width: 18px;
      height: 2px;
      top: 50%;
    }
    &-line:nth-child(1) {
      z-index: 4;
      transform: rotate(-45deg);
    }
    &-line:nth-child(2) {
      z-index: 3;
      transform: rotate(45deg);
    }
  }
  &__closer:hover .mobile-aside__closer-line {
    background-color: $color-gold;
  }
}

@media (max-width: 1450px) {
  .header__container {
    flex-direction: column;
    gap: 50px 0;
  }
  .menu {
    min-width: 100%;
    max-width: none;
  }
  .header__phone {
    margin-left: -75px;
  }
}

@media (max-width: 991px) {
  .header__container {
    flex-direction: row;
  }
  .header__menu {
    display: none;
  }
  .open-menu {
    display: flex;
  }
  .mobile-aside {
    display: block;
  }
  .menu {
    flex-direction: column;
    gap: 35px;
  }
  .menu__link {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
  }
  .aside__soclist {
    width: 140px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
