.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & nav {
      width: 100%;
    }
  }
  &__phone {
    white-space: nowrap;
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-family: $font-condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-white;
    border-bottom: $color-gold solid 2px;
    margin-left: 168px;
  }
}

.menu {
  min-width: 824px;
  display: flex;
  justify-content: space-between;
  &__link {
    text-decoration: none;
    font-family: $font-condensed;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-white;
    transition: color .3s ease-in-out;
    &:hover {
      color: $color-gold;
    }
  }
}

@media (max-width: 1460px) {
  .header__container {
    flex-direction: column;
    gap: 50px 0;
  }
  .menu {
    min-width: 100%;
    max-width: none;
  }
  .header__phone {
    margin-left: -75px;
  }
}