.hero {
  padding: 267px 0 208px 0;
  background-image: url(../images/dest/hero_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__slider {
    margin-right: 75px;
    width: 370px;
    overflow: hidden;
  }
  &__content {
    max-width: 540px;
    margin-bottom: 157px;
  }
  &__title {
    white-space: nowrap;
    font-family: $font-condensed;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__descr {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 45px;
  }
  &__btn {
    cursor: pointer;
    background-color: $color-gold;
    border: none;
    color: $color-white;
    width: 160px;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: #d8a943;
    }
  }
}

.slider {
  &__container {
    display: flex;
    margin-bottom: 35px;
  }
  &__item {
    flex-shrink: 0;
    width: 370px;
    height: 510px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__btn-container {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    cursor: pointer;
    width: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background: transparent;
    border: none;
    font-family: $font-condensed;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-grey;
    transition: color .3s ease-in-out;
    & svg path {
      fill: currentColor;
    }
    &:hover {
      color: $color-white;
    }
  }
}

@media (max-width: 1450px) {
  .slider {
    display: none;
  }
  .hero {
    padding-top: 385px;
  }
}

@media (max-width: 991px) {
  .hero {
    padding-top: 252px;
    padding-left: 75px;
    padding-bottom: 95px;
  }
}

@media (max-width: 767px) {
  .hero {
    padding-top: 197px;
    padding-bottom: 0px;
    padding-left: 0;
  }
}
