.partners {
  overflow: hidden;
  &__title {
    margin-bottom: 100px;
  }
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 78px 78px;
    margin-bottom: 118px;
  }
}

@media (max-width: 992px) {
  .partners > .container {
    overflow: hidden;
  }
  .partners__list {
    width: 1036px;
    justify-content: space-between;
  }
}