@import "reset";
@import "variables";
@import "aside";
@import "header";
@import "hero";
@import "about";


.body {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  color: $color-white;
  background-color: #333;
}

::-webkit-scrollbar {
  display:none;
}

.ul-reset {
  list-style-type: none;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: $font-condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-white;
  & span {
    color: $color-gold;
  }
}

